<!DOCType html>
<head>

</head>

<body>
<!-- jinja syntax {{ }}
whatever goies inside the braces will be used as
jinja2 value  -->
    <h1> {{ template_variable['title'] }}</h1> 
    <p>{{ template_variable['content']}}</p>
</body>

</html>